/org.eclipse.core.resources.prefs
/org.eclipse.egit.core.prefs
/org.eclipse.epp.logging.aeri.ide.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.jdt.launching.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.jst.server.tomcat.core.prefs
/org.eclipse.mylyn.context.core.prefs
/org.eclipse.mylyn.monitor.ui.prefs
/org.eclipse.mylyn.tasks.ui.prefs
/org.eclipse.rse.core.prefs
/org.eclipse.rse.ui.prefs
/org.eclipse.ui.browser.prefs
/org.eclipse.ui.ide.prefs
/org.eclipse.wst.server.core.prefs
/org.eclipse.wst.server.discovery.prefs
/org.eclipse.wst.ws.service.policy.prefs
/org.springframework.ide.eclipse.imports.prefs
/org.springsource.ide.eclipse.commons.configurator.prefs
/org.springsource.ide.eclipse.commons.core.prefs
/org.springsource.ide.eclipse.commons.ui.prefs
/org.springsource.ide.eclipse.dashboard.ui.prefs
